## Tipos de Datos - Datos Numericos

In [1]:
print ( type (1) )

<class 'int'>

¿CÓMO DECLARAR UN ENTERO?

In [2]:
# Valor 10 Entero
print (10)
print ( type (10) )

10
<class 'int'>

Declarando el entero en variables

In [4]:
# Variable 100 Entero
variable = 100
print (variable)
print ( type (variable) )

100
<class 'int'>

Declarar usando la función int

In [5]:
# Variable 20 Entero
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )

20
<class 'int'>

Podemos definir enteros en diferentes bases como binario, octal y hexadecimal

In [6]:
# Valor 10 en base decimal
print ("Base decimal")
print (10)
# Valor 10 en binario
print ("Base binaria")
print (0b1010)
# Valor 10 en octal
print ("Base octal")
print (0o12)
# Valor 10 en hexadecimal
print ("Base hexadecimal")
print (0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

Podemos declarar enteros tan grandes como la memoria propia del sistema a diferencia de otros lenguajes que tiene un límite por tipo de dato

In [7]:
# Entero con 60 dígitos
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print ( type (variable_3) )

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

¿CÓMO DECLARAR UN NÚMERO FLOTANTE?
Se declaran directamente en el código en valores y variables de forma directa o utilizando el tipo float

In [8]:
# Valor 0.5 Flotante
print (0.5)
print ( type (0.5) )

0.5
<class 'float'>

Declarando el float en variables

In [9]:
# Variable 0.100546 Flotante
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

0.100546
<class 'float'>

Declarar usando la función float

In [10]:
# Variable 1 Flotante
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )

1.0
<class 'float'>

Precisión máxima con 17 decimales

In [11]:
# Precisión de 17 decimales
variable_5 = 0.9999999999999999
print(variable_5)
print ( type (variable_5) )

0.9999999999999999
<class 'float'>

Declarar utilizando notación científica con la letra "e" y el exponente

In [12]:
# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

In [13]:
	# Operadores aritméticos
a = 10
b = 3

In [14]:
# Suma
print ("Suma")
print (a + b)

Suma
13

In [15]:
# Resta
print ("Resta")
print (a - b)

Resta
7

In [16]:
# Multiplicación
print ("Multiplicación")
print (a * b)

Multiplicación
30

In [17]:
# División
print ("División")
print (a / b)

División
3.3333333333333335

In [18]:
# Potencia
print ("Potencia")
print (a ** b)

Potencia
1000

In [19]:
# Módulo o residuo
print ("Módulo o residuo")
print (a % b)

Módulo o residuo
1

In [20]:
# División entera
print ("División entera")
print (a // b)

División entera
3

Ejercicio: Un contador tiene 300 minutos y se le suman 3600 segundos, ¿Cuántas horas en total son?

In [22]:
min = (3600/60) + 300
horas = min/60
print("Se tienen: ", horas,"hrs")

Se tienen:  6.0 hrs

In [23]:
minutos = 300
tiempo_extra_segundos = 3600
horas = (minutos + tiempo_extra_segundos / 60) / 60
print (horas)

6.0

In [24]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

Operadores de comparación
False
False
True
True
True
False

Los objetos numéricos de diferente tipo también pueden ser comparados

In [25]:
print ("Operadores de comparación int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

Operadores de comparación int - float
False
False
True
True
True
False

In [26]:
# ejercicio, ver si un numero es par o impar
num1 = 10
num2 = 5
print(((num1/2)%2) == 0)
print(((num1/2)%2) == 1)

False
True