### Sesion 08 - Estructura de Datos - Tuplas

In [1]:
print ("Tupla de enteros")
enteros = (1,2,3,4,5,6)
print (enteros)
print (type(enteros))

Tupla de enteros
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [2]:
print ("Tupla de cadenas")
cadenas = ("hola", "mundo", "desde", "python")
print (cadenas)
print (type(cadenas))

Tupla de cadenas
('hola', 'mundo', 'desde', 'python')
<class 'tuple'>

In [3]:
print ("Tupla Mixta") 
mixta = (1, "hola", True, 2.5)
print (mixta)
print (type(mixta))

Tupla Mixta
(1, 'hola', True, 2.5)
<class 'tuple'>

In [4]:
print ("Tupla vacia")
vacia = ()
print (vacia)
print (type(vacia))

Tupla vacia
()
<class 'tuple'>

In [5]:
print ("Tupla de un solo elemento")
uno = (1,)
print (uno)
print (type(uno))

Tupla de un solo elemento
(1,)
<class 'tuple'>

In [6]:
# tuple() => convierte objs a tuplas
print ("Tupla utilizando la función tuple()")
constructor = tuple("hola")
print (constructor)
print (type(constructor))

Tupla utilizando la función tuple()
('h', 'o', 'l', 'a')
<class 'tuple'>

In [7]:
print ("Indexado positivo de una tupla")
tupla = (1,2.0, "hola", True)
print (tupla[0], type(tupla[0]))
print (tupla[1], type(tupla[1]))
print (tupla[2], type(tupla[2]))
print (tupla[3], type(tupla[3]))

Indexado positivo de una tupla
1 <class 'int'>
2.0 <class 'float'>
hola <class 'str'>
True <class 'bool'>

In [8]:
print ("Indexado negativo de una tupla")
tupla = (1,2.0, "hola", True)
print (tupla[-1], type(tupla[-1]))
print (tupla[-2], type(tupla[-2]))
print (tupla[-3], type(tupla[-3]))
print (tupla[-4], type(tupla[-4]))

Indexado negativo de una tupla
True <class 'bool'>
hola <class 'str'>
2.0 <class 'float'>
1 <class 'int'>

In [9]:
print ("Slicing de una tupla")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)

sub_tupla = tupla[0:5]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 1, 2, 3, 4)
<class 'tuple'>

In [19]:
print ("Slicing de una tupla con saltos")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[0:10:2]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla con saltos
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(0, 2, 4, 6, 8)
<class 'tuple'>

In [20]:
print ("Slicing de una tupla con saltos negativos")
tupla = (0,1,2,3,4,5,6,7,8,9,10)
print (tupla)
sub_tupla = tupla[7:2:-2]
print (sub_tupla)
print (type(sub_tupla))

Slicing de una tupla con saltos negativos
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(7, 5, 3)
<class 'tuple'>

In [21]:
print ("Concatenación de tuplas")
tupla1 = (1,2,3)
tupla2 = (4,5,6)
concatenar = tupla1 + tupla2
print (tupla1, tupla2)
print (concatenar)
print (type(concatenar))

Concatenación de tuplas
(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [22]:
print ("Repetición de tuplas")
tupla = (1,2,3)
repetir = tupla * 3
print (tupla)
print (repetir)
print (type(repetir))

Repetición de tuplas
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
<class 'tuple'>

In [23]:
# desempaquetado
print ("Asignación múltiple")
persona = ("Jhon", "Doe", 22, 1.75)
nombre, apellido, edad, estatura = persona
print (persona)
print (nombre)
print (apellido)
print (edad)
print (estatura)

Asignación múltiple
('Jhon', 'Doe', 22, 1.75)
Jhon
Doe
22
1.75

In [24]:
print ("Método index(valor)")
tupla = (1,2.0, "hola", True)
print(tupla)
print (tupla.index(2.0))
print (tupla.index("hola"))

print (tupla.index(True))

Método index(valor)
(1, 2.0, 'hola', True)
1
2
0

In [25]:
print ("Método count(valor)")
tupla = (1, 2.0, "hola", False, "hola", "HOLA")
print (tupla.count(1))
print (tupla.count("hola"))
print (tupla.count(10))

Método count(valor)
1
2
0

In [27]:
# lo toma como True=1  y cuenta dos veces
tupla = (1, 2.0, "hola", True, "hola", "HOLA")
print (tupla.count(1))

2

In [29]:
print ("Función len(), cantidad de elementos de la tupla")
tupla = (1,2.0, "hola", True)
longitud = len(tupla)
print (tupla)
print (longitud)

Función len(), cantidad de elementos de la tupla
(1, 2.0, 'hola', True)
4

In [30]:
print ("Función max()")
tupla = (1,2,10,5,8,0)
maximo = max(tupla)
print (tupla)
print (maximo)

Función max()
(1, 2, 10, 5, 8, 0)
10

In [31]:
# ejem con cadenas, se comparan alfabeticamente
tupla = ("1","2","10","5","8","0")
maximo = max(tupla)
print (tupla)
print (maximo)

('1', '2', '10', '5', '8', '0')
8

In [32]:
print ("Función min()")
tupla = ("a","z","c","b","f","d")
minimo = min(tupla)
print (tupla)
print (minimo)

Función min()
('a', 'z', 'c', 'b', 'f', 'd')
a

In [33]:
#  True=1  y False=0, lo compara como entero pero devuelve tipo como bool
tupla = (2,5,7,10,3,True,False)
minimo = min(tupla)
print (tupla)
print (minimo)
print(type(minimo))

(2, 5, 7, 10, 3, True, False)
False
<class 'bool'>

In [34]:
print ("Función sum()")
tupla = (1.0, 0.5, 2.5, 3.1)
suma = sum(tupla)
print (tupla)
print (suma)

Función sum()
(1.0, 0.5, 2.5, 3.1)
7.1

In [35]:
print ("Tuplas anidadas")
tupla = (1,2,3, (4,5,6))
print (tupla)
print (tupla, type(tupla))

Tuplas anidadas
(1, 2, 3, (4, 5, 6))
(1, 2, 3, (4, 5, 6)) <class 'tuple'>

In [36]:
print (tupla[3], type(tupla[3]))
print (tupla[3][0], type(tupla[3][0]))

(4, 5, 6) <class 'tuple'>
4 <class 'int'>

In [37]:
print ("Tuplas anidadas")
tupla = (1,2,3, (4,5,6))
print (tupla, type(tupla))

anidado = tupla[3]
print(anidado, type(anidado))

Tuplas anidadas
(1, 2, 3, (4, 5, 6)) <class 'tuple'>
(4, 5, 6) <class 'tuple'>

In [38]:
valor_anidado_0 = anidado[0]
print (valor_anidado_0, type(valor_anidado_0))

4 <class 'int'>

In [39]:
valor_anidado_1 = tupla[3][1]
print (valor_anidado_1, type(valor_anidado_1))

5 <class 'int'>